@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* استایل‌های سفارشی اختیاری */
@layer components {

  .rtl-text {
    direction: rtl;
  }

  .ltr-text {
    direction: ltr;
  }
}

/* استایل‌های پایه برای RTL/LTR */
html[dir="rtl"] {
  text-align: right;
}

html[dir="ltr"] {
  text-align: left;
}
